<h2> NEW!! Article!!! Yeeeahh!</h2>


<%= form_for :article do |f| %> 

	<p> New form! </p>
	<h3> <%= f.label :title %></h3>
	<h1> <%= f.text_field  :title %> </h1>
	<p3> <%= f.button :button %></p3>

<%end%>