



<div class="list-group">
  <a href=<%=articles_path%> class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Все голосовалки</h5>
      <small>Посмотреть все созданные и проведенные голосования</small>
    </div>
    <p class="mb-1"></p>
    <small></small>
  </a>
</div>


<%= link_to "Posts", articles_path %><hr/>
